@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.content3 {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0rem 8.5rem 2rem;
}

p {
  margin-bottom: 0rem;
  color: gray;
  font-family: "Roboto", sans-serif;
}
h2 {
  margin: 0.3rem 0 2rem;
  /* font-family: "Roboto", sans-serif; */
  /* font-size: 2rem; */
  /* font-family: bold; */
}
.process_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: calc((100% - 272px) / 3);
  padding: 1rem;
}

.content:hover {
  border: 3px #304bf8 solid;
}

.small_icons {
  margin-right: 0.4rem;
  color: #304bf8;
  width: 30px;
  height: 30px;
}

.small_title {
  font-size: 1.5rem;
  font-family: bold;
  font-family: "Roboto", sans-serif;
  margin: 0.5rem 0 1rem;
}

.small_description {
  font-size: 1rem;
  color: gray;
  font-family: "Roboto", sans-serif;
}
