@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 8.5rem 3rem;
  text-align: left;
}

.section {
  width: calc(100% / 4);
  height: 165px;
  padding: 0.5rem 0.8rem 0.5rem;
  border: black;
}
.line1 {
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 1rem;
  position: relative;
  top: 0;
}
.gray-text {
  color: gray;
  font-size: 15px;
  margin: 0rem 0 0.5rem;
}
.line {
  margin: 0rem 0 0.5rem;
}
.sub-btn {
  background-color: #304bf8;
  color: #fff;
  margin: 0.6rem 0 0;
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  position: relative;
  right: 0;
}

.sub-btn:hover {
  background-color: #fff;
  color: #304bf8;
}
